@tailwind base;
@tailwind components;
@tailwind utilities;

/* 让网页滚动更丝滑 */
html {
  scroll-behavior: smooth;
}

/* 隐藏讨厌的滚动条但保留功能 (可选) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}